.BuildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.BuildControl button {
	display: block;
	font: inherit;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	margin: 0 5px;
	width: 40px;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	outline: none;
	transition: all .3s;
}

.BuildControl button:disabled {
	background-color: #c7c6c6;
	border: 1px solid #7e7365;
	color: #888888;
	cursor: default;
	pointer-events: none;
}

.BuildControl button:hover:disabled {
	background-color: #ac9980;
	color: #ccc;
	cursor: not-allowed;
}

.Label {
	padding: 10px;
	width: 80px;
	font-weight: bold;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
	border-color: #be524a;
}

.BuildControl .More:hover,
.BuildControl .More:active {
	border-color: #40a4c8;
}
